In [1]:
import pandas as pd

In [33]:
datos = pd.read_csv('/Users/alejandrobueno/Documents/WWW/Cursos,ejercicios,proyectos/Python/PythonTOTAL_DataScience/Dia 6/medallas.csv')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
datos

     Oro  Plata  Bronce  Total                        Pais
0    NaN    1.0     2.0      3                   Argentina
1    NaN    2.0     2.0      4                     Armenia
2   17.0    7.0    22.0     46                   Australia
3    1.0    1.0     5.0      7                     Austria
4    NaN    3.0     4.0      7                  Azerbaijan
5    2.0    NaN     NaN      2                     Bahamas
6    NaN    1.0     NaN      1                     Bahrain
7    1.0    3.0     3.0      7                     Belarus
8    3.0    1.0     3.0      7                     Belgium
9    1.0    NaN     NaN      1                     Bermuda
10   NaN    NaN     1.0      1                    Botswana
11   7.0    6.0     8.0     21                      Brazil
12   3.0    1.0     2.0      6                    Bulgaria
13   NaN    NaN     1.0      1                Burkina Faso
14   7.0    6.0    11.0     24                      Canada
15   2.0    4.0     6.0     12              Chinese Taipei
16   NaN    4.0     1.0      5                    Colombia
17   3.0    3.0     2.0      8                     Croatia
18   NaN    NaN     1.0      1                Cie d'Ivoire
19   7.0    3.0     5.0     15                        Cuba
20   4.0    4.0     3.0     11              Czech Republic
21   3.0    4.0     4.0     11                     Denmark
22   NaN    3.0     2.0      5          Dominican Republic
23   2.0    1.0     NaN      3                     Ecuador
24   1.0    1.0     4.0      6                       Egypt
25  39.0   41.0    33.0    113   Estados Unidos de America
26   1.0    NaN     1.0      2                     Estonia
27   1.0    1.0     2.0      4                    Ethiopia
28   1.0    NaN     1.0      2                        Fiji
29   NaN    NaN     2.0      2                     Finland
30   1.0   12.0    11.0     33                      France
31   2.0    5.0     1.0      8                     Georgia
32   1.0   11.0    16.0     37                     Germany
33   NaN    NaN     1.0      1                       Ghana
34  22.0   21.0    22.0     65                Gran Bretana
35   2.0    1.0     1.0      4                      Greece
36   NaN    NaN     1.0      1                     Grenada
37   1.0    2.0     3.0      6            Hong Kong, China
38   6.0    7.0     7.0      2                     Hungary
39   1.0    2.0     4.0      7                       India
40   1.0    1.0     3.0      5                   Indonesia
41   2.0    NaN     2.0      4                     Ireland
42   3.0    2.0     2.0      7    Islamic Republic of Iran
43   2.0    NaN     2.0      4                      Israel
44   1.0    1.0     2.0      4                       Italy
45   4.0    1.0     4.0      9                     Jamaica
46  27.0   14.0    17.0     58                       Japon
47   NaN    1.0     1.0      2                      Jordan
48   NaN    NaN     8.0      8                  Kazakhstan
49   4.0    4.0     2.0      1                       Kenya
50   2.0    NaN     NaN      2                      Kosovo
51   NaN    NaN     1.0      1                      Kuwait
52   NaN    2.0     1.0      3                  Kyrgyzstan
53   1.0    NaN     1.0      2                      Latvia
54   NaN    1.0     NaN      1                   Lithuania
55   NaN    1.0     1.0      2                    Malaysia
56   NaN    NaN     4.0      4                      Mexico
57   NaN    1.0     3.0      4                    Mongolia
58   1.0    NaN     NaN      1                     Morocco
59   NaN    1.0     NaN      1                     Namibia
60   1.0   12.0    14.0     36                 Netherlands
61   7.0    6.0     7.0      2                 New Zealand
62   NaN    1.0     1.0      2                     Nigeria
63   NaN    1.0     NaN      1             North Macedonia
64   4.0    2.0     2.0      8                      Norway
65   1.0    2.0     1.0      4                 Philippines
66   4.0    5.0     5.0     14                      Poland
67   1.0    1.0     2.0      4                    Portugal
68   1.0    NaN     NaN      1                 Puerto Rico
69   2.0    NaN     1.0      3                       Qatar
70   6.0    4.0     1.0      2           Republic of Korea
71   NaN    NaN     1.0      1         Republic of Moldova
72  38.0   32.0    18.0     88  Republica Popular de China
73   2.0   28.0    23.0     71                         ROC
74   1.0    3.0     NaN      4                     Romania
75   NaN    1.0     2.0      3                  San Marino
76   NaN    1.0     NaN      1                Saudi Arabia
77   3.0    1.0     5.0      9                      Serbia
78   1.0    2.0     1.0      4                    Slovakia
79   3.0    1.0     1.0      5                    Slovenia
80   1.0    2.0     NaN      3                South Africa
81   3.0    8.0     6.0     17                       Spain
82   3.0    6.0     NaN      9                      Sweden
83   3.0    4.0     6.0     13                 Switzerland
84   NaN    NaN     1.0      1        Syrian Arab Republic
85   1.0    NaN     1.0      2                    Thailand
86   1.0    1.0     NaN      2                     Tunisia
87   2.0    2.0     9.0     13                      Turkey
88   NaN    1.0     NaN      1                Turkmenistan
89   2.0    1.0     1.0      4                      Uganda
90   1.0    6.0    12.0     19                     Ukraine
91   3.0    NaN     2.0      5                  Uzbekistan
92   1.0    3.0     NaN      4                   Venezuela

In [47]:
datos.shape

(93, 5)

In [137]:
datos.describe()

             Oro      Plata     Bronce       Total
count  65.000000  69.000000  76.000000   93.000000
mean    4.400000   4.768116   4.934211   10.548387
std     7.633806   7.276362   6.261705   18.897617
min     1.000000   1.000000   1.000000    1.000000
25%     1.000000   1.000000   1.000000    2.000000
50%     2.000000   2.000000   2.000000    4.000000
75%     3.000000   5.000000   5.250000    8.000000
max    39.000000  41.000000  33.000000  113.000000

In [49]:
datos.columns

Index(['Oro', 'Plata', 'Bronce', 'Total', 'Pais'], dtype='object')

In [51]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Oro     65 non-null     float64
 1   Plata   69 non-null     float64
 2   Bronce  76 non-null     float64
 3   Total   93 non-null     int64
 4   Pais    93 non-null     object
dtypes: float64(3), int64(1), object(1)
memory usage: 3.8+ KB

In [113]:
# rellenar nulos por 0
datos_rellenados = datos.fillna(0)
datos_rellenados

     Oro  Plata  Bronce  Total                        Pais
0    0.0    1.0     2.0      3                   Argentina
1    0.0    2.0     2.0      4                     Armenia
2   17.0    7.0    22.0     46                   Australia
3    1.0    1.0     5.0      7                     Austria
4    0.0    3.0     4.0      7                  Azerbaijan
5    2.0    0.0     0.0      2                     Bahamas
6    0.0    1.0     0.0      1                     Bahrain
7    1.0    3.0     3.0      7                     Belarus
8    3.0    1.0     3.0      7                     Belgium
9    1.0    0.0     0.0      1                     Bermuda
10   0.0    0.0     1.0      1                    Botswana
11   7.0    6.0     8.0     21                      Brazil
12   3.0    1.0     2.0      6                    Bulgaria
13   0.0    0.0     1.0      1                Burkina Faso
14   7.0    6.0    11.0     24                      Canada
15   2.0    4.0     6.0     12              Chinese Taipei
16   0.0    4.0     1.0      5                    Colombia
17   3.0    3.0     2.0      8                     Croatia
18   0.0    0.0     1.0      1                Cie d'Ivoire
19   7.0    3.0     5.0     15                        Cuba
20   4.0    4.0     3.0     11              Czech Republic
21   3.0    4.0     4.0     11                     Denmark
22   0.0    3.0     2.0      5          Dominican Republic
23   2.0    1.0     0.0      3                     Ecuador
24   1.0    1.0     4.0      6                       Egypt
25  39.0   41.0    33.0    113   Estados Unidos de America
26   1.0    0.0     1.0      2                     Estonia
27   1.0    1.0     2.0      4                    Ethiopia
28   1.0    0.0     1.0      2                        Fiji
29   0.0    0.0     2.0      2                     Finland
30   1.0   12.0    11.0     33                      France
31   2.0    5.0     1.0      8                     Georgia
32   1.0   11.0    16.0     37                     Germany
33   0.0    0.0     1.0      1                       Ghana
34  22.0   21.0    22.0     65                Gran Bretana
35   2.0    1.0     1.0      4                      Greece
36   0.0    0.0     1.0      1                     Grenada
37   1.0    2.0     3.0      6            Hong Kong, China
38   6.0    7.0     7.0      2                     Hungary
39   1.0    2.0     4.0      7                       India
40   1.0    1.0     3.0      5                   Indonesia
41   2.0    0.0     2.0      4                     Ireland
42   3.0    2.0     2.0      7    Islamic Republic of Iran
43   2.0    0.0     2.0      4                      Israel
44   1.0    1.0     2.0      4                       Italy
45   4.0    1.0     4.0      9                     Jamaica
46  27.0   14.0    17.0     58                       Japon
47   0.0    1.0     1.0      2                      Jordan
48   0.0    0.0     8.0      8                  Kazakhstan
49   4.0    4.0     2.0      1                       Kenya
50   2.0    0.0     0.0      2                      Kosovo
51   0.0    0.0     1.0      1                      Kuwait
52   0.0    2.0     1.0      3                  Kyrgyzstan
53   1.0    0.0     1.0      2                      Latvia
54   0.0    1.0     0.0      1                   Lithuania
55   0.0    1.0     1.0      2                    Malaysia
56   0.0    0.0     4.0      4                      Mexico
57   0.0    1.0     3.0      4                    Mongolia
58   1.0    0.0     0.0      1                     Morocco
59   0.0    1.0     0.0      1                     Namibia
60   1.0   12.0    14.0     36                 Netherlands
61   7.0    6.0     7.0      2                 New Zealand
62   0.0    1.0     1.0      2                     Nigeria
63   0.0    1.0     0.0      1             North Macedonia
64   4.0    2.0     2.0      8                      Norway
65   1.0    2.0     1.0      4                 Philippines
66   4.0    5.0     5.0     14                      Poland
67   1.0    1.0     2.0      4                    Portugal
68   1.0    0.0     0.0      1                 Puerto Rico
69   2.0    0.0     1.0      3                       Qatar
70   6.0    4.0     1.0      2           Republic of Korea
71   0.0    0.0     1.0      1         Republic of Moldova
72  38.0   32.0    18.0     88  Republica Popular de China
73   2.0   28.0    23.0     71                         ROC
74   1.0    3.0     0.0      4                     Romania
75   0.0    1.0     2.0      3                  San Marino
76   0.0    1.0     0.0      1                Saudi Arabia
77   3.0    1.0     5.0      9                      Serbia
78   1.0    2.0     1.0      4                    Slovakia
79   3.0    1.0     1.0      5                    Slovenia
80   1.0    2.0     0.0      3                South Africa
81   3.0    8.0     6.0     17                       Spain
82   3.0    6.0     0.0      9                      Sweden
83   3.0    4.0     6.0     13                 Switzerland
84   0.0    0.0     1.0      1        Syrian Arab Republic
85   1.0    0.0     1.0      2                    Thailand
86   1.0    1.0     0.0      2                     Tunisia
87   2.0    2.0     9.0     13                      Turkey
88   0.0    1.0     0.0      1                Turkmenistan
89   2.0    1.0     1.0      4                      Uganda
90   1.0    6.0    12.0     19                     Ukraine
91   3.0    0.0     2.0      5                  Uzbekistan
92   1.0    3.0     0.0      4                   Venezuela

In [115]:
# 3 paises con mas medallas de oro
datos_orden_ascendente = datos_rellenados.sort_values(by='Oro', ascending=False)
datos_orden_ascendente.head(3)

     Oro  Plata  Bronce  Total                        Pais
25  39.0   41.0    33.0    113   Estados Unidos de America
72  38.0   32.0    18.0     88  Republica Popular de China
46  27.0   14.0    17.0     58                       Japon

In [127]:
# países que ganaron mas de 10 medallas en total
filtro = datos_rellenados["Total"] > 10
datos_rellenados[filtro]

     Oro  Plata  Bronce  Total                        Pais
2   17.0    7.0    22.0     46                   Australia
11   7.0    6.0     8.0     21                      Brazil
14   7.0    6.0    11.0     24                      Canada
15   2.0    4.0     6.0     12              Chinese Taipei
19   7.0    3.0     5.0     15                        Cuba
20   4.0    4.0     3.0     11              Czech Republic
21   3.0    4.0     4.0     11                     Denmark
25  39.0   41.0    33.0    113   Estados Unidos de America
30   1.0   12.0    11.0     33                      France
32   1.0   11.0    16.0     37                     Germany
34  22.0   21.0    22.0     65                Gran Bretana
46  27.0   14.0    17.0     58                       Japon
60   1.0   12.0    14.0     36                 Netherlands
66   4.0    5.0     5.0     14                      Poland
72  38.0   32.0    18.0     88  Republica Popular de China
73   2.0   28.0    23.0     71                         ROC
81   3.0    8.0     6.0     17                       Spain
83   3.0    4.0     6.0     13                 Switzerland
87   2.0    2.0     9.0     13                      Turkey
90   1.0    6.0    12.0     19                     Ukraine

             Oro      Plata     Bronce       Total
count  93.000000  93.000000  93.000000   93.000000
mean    3.075269   3.537634   4.032258   10.548387
std     6.682613   6.598022   5.969946   18.897617
min     0.000000   0.000000   0.000000    1.000000
25%     0.000000   0.000000   1.000000    2.000000
50%     1.000000   1.000000   2.000000    4.000000
75%     3.000000   4.000000   4.000000    8.000000
max    39.000000  41.000000  33.000000  113.000000